body {
    margin: 0;
    padding: 0;
    font-family: 'Trakya Sans Alt', sans-serif;
    background-color: #e8e8e8 ;
}
.nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: 'Trakya Sans Alt Bold';
    src: url('../fonts/trakya-sans-alt-900-bold.ttf') format('truetype');
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d1a14;
    color: #fffefe;
    font-family: 'Trakya Sans Alt Bold', sans-serif;
    padding: 40px;
    margin: 0;
}
.header {
    margin:0;
}
.logo {
    font-size: 2em;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.hot-bids {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.bid-item {
    background-color: #2d1a14;
    color: #fffefe;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}

